[tool.poetry]
name = "groundlight"
version = "0.5.0"
license = "MIT"
readme = "UserGuide.md"
homepage = "https://groundlight.ai"
description = "Build computer vision systems from natural language with Groundlight"
authors = ["Groundlight AI <support@groundlight.ai>"]
packages = [
    { include = "**/*.py", from = "src" },
    { include = "**/*.py", from = "generated" },
]

[tool.poetry.dependencies]
python = ">=3.6.2,<4.0"
python-dateutil = "^2.8.2"
urllib3 = "^1.26.9"
frozendict = "^2.3.2"
certifi = "^2021.10.8"
pydantic = "^1.9.1"

[tool.poetry.dev-dependencies]
pytest-cov = "^3.0.0"
pylint = "^2.13.9"
black = "^22.3.0"
flake8 = "^4.0.1"
mypy = "^0.950"
pytest = "^7.0.1"
isort = "^5.10.1"
autoflake = "^1.4"
datamodel-code-generator = "^0.12.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
