[tool.poetry]
authors = ["Groundlight AI <support@groundlight.ai>"]
description = "Build computer vision systems from natural language with Groundlight"
homepage = "https://www.groundlight.ai"
license = "MIT"
name = "groundlight"
packages = [
    {include = "**/*.py", from = "generated"},
    {include = "**/*.py", from = "src"},
]
readme = "README.md"
version = "0.7.4"

[tool.poetry.dependencies]
certifi = "^2021.10.8"
frozendict = "^2.3.2"
pillow = "^9.0.0"
pydantic = "^1.7.4"
python = ">=3.7.0,<4.0"
python-dateutil = "^2.8.2"
requests = "^2.28.2"
urllib3 = "^1.26.9"

[tool.poetry.group.dev.dependencies]
autoflake = "^1.4"
black = "^22.3.0"
datamodel-code-generator = "^0.12.1"
flake8 = "^4.0.1"
isort = "^5.10.1"
mypy = "^0.950"
pylint = "^2.13.9"
pytest = "^7.0.1"
pytest-cov = "^3.0.0"
pytest-markdown-docs = "^0.4.3"
pytest-mock = "^3.10.0"

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.2.0"]

[tool.black]
line-length = 120
