@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
}

h1,
h2,
h3 {
  line-height: 1.25;
  font-weight: 500;
}

.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 12px;
}

.landing-page-container {
  margin: 0;
  padding: 0;
  color: #ffffff;
  background-color: #121212;
  font-family: "Chivo", sans-serif;
  line-height: 1.5;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
/* Small */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
/* Extra large */
@media (min-width: 1400px) {
  .container {
    max-width: 1254px;
  }
}
/* Fluid container */
.container-fluid {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.cmnButton {
  display: inline-block;
  padding: 4px 35px 6px;
  color: #000000 !important;
  background-color: #eacc8b;
  border: 1px solid #eacc8b;
  font-size: 20px;
  text-decoration: none;
  transition: all 0.3s linear;
}
.cmnButton:hover {
  color: #eacc8b !important;
  background-color: transparent;
}
.cmnButton.outline {
  color: #eacc8b !important;
  background-color: transparent;
}
.cmnButton.outline:hover {
  color: #000000 !important;
  background-color: #eacc8b;
  border: 1px solid #eacc8b;
}

.header {
  padding: 30px 0;
  border-bottom: 1px solid #4d4d4d;
}
@media (max-width: 991px) {
  .header {
    padding: 20px 0;
  }
}
.header .headerwrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .headerwrapper .logo {
  display: inline-block;
  height: -moz-maxcontent;
  height: maxcontent;
}
.header .headerwrapper .logo img {
  width: 246px;
}
@media (max-width: 1399px) {
  .header .headerwrapper .logo img {
    width: 220px;
  }
}
.header .menutoggle {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1c1c1c;
  border: 1px solid #4d4d4d;
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
}
@media (min-width: 992px) {
  .header .menutoggle {
    display: none;
  }
}
.header .menutoggle .closee {
  display: none;
}
.header .menutoggle.active .closee {
  display: block;
}
.header .menutoggle.active .toggle {
  display: none;
}
.menu {
  display: flex;
  align-items: center;
  gap: 10px 50px;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (max-width: 1399px) {
  .menu {
    gap: 10px;
  }
}
@media (min-width: 992px) {
  .menu .containlogo {
    display: none;
  }
}
@media (max-width: 991px) {
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    flex-direction: column;
    padding: 40px;
    text-align: left;
    align-items: flex-start;
    background-color: #1c1c1c;
    min-width: 300px;
    gap: 15px;
    transform: translateX(-100%);
    transition: all 0.3s linear;
  }
  .menu.active {
    transform: translateX(0);
  }
}
.header .menu .menuitem .menulink {
  transition: all 0.3s linear;
  text-decoration: none;
  font-size: 24px;
  padding: 5px 20px;
}
@media (max-width: 1399px) {
  .header .menu .menuitem .menulink {
    font-size: 22px;
  }
}
@media (max-width: 1199px) {
  .header .menu .menuitem .menulink {
    font-size: 18px;
    padding-inline: 15px;
  }
}
@media (max-width: 991px) {
  .header .menu .menuitem .menulink {
    font-size: 16px;
    padding-inline: 8px;
  }
}
.header .menu .menuitem .menulink:hover {
  color: #eacc8b;
}
.header .menu .menuitem .menulink.active {
  color: #eacc8b;
}

.bannersection {
  padding-top: 120px;
  padding-bottom: 120px;
}
@media (max-width: 991px) {
  .bannersection {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.bannersection .bannerwrapper {
  display: flex;
  gap: 40px;
}
@media (max-width: 991px) {
  .bannersection .bannerwrapper {
    flex-direction: column;
    gap: 25px;
  }
}
.bannersection .bannerwrapper .title {
  font-size: 64px;
  font-weight: 500;
  max-width: 700px;
  width: 100%;
  line-height: 1.3;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: -0.5px;
}
@media (max-width: 1199px) {
  .bannersection .bannerwrapper .title {
    font-size: 44px;
  }
}
.bannersection .bannerwrapper .content {
  max-width: 495px;
}
@media (max-width: 1199px) {
  .bannersection .bannerwrapper .content {
    max-width: 420px;
  }
}
.bannersection .bannerwrapper .content p {
  margin-top: 0;
  font-size: 20px;
}
@media (max-width: 1199px) {
  .bannersection .bannerwrapper .content p {
    font-size: 18px;
  }
}
.bannersection .bannerwrapper .buttonwrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 12px 16px;
}
@media (max-width: 991px) {
  .bannersection .bannerwrapper .buttonwrapper {
    margin-top: 35px;
  }
}

.featuresection {
  padding-bottom: 120px;
}
@media (max-width: 575px) {
  .featuresection {
    padding-bottom: 60px;
  }
}
.featuresection .featurewrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
  justify-content: center;
}
@media (max-width: 1199px) {
  .featuresection .featurewrapper {
    gap: 50px 30px;
  }
}
@media (max-width: 991px) {
  .featuresection .featurewrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 575px) {
  .featuresection .featurewrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
.featuresection .featureitem {
  text-align: center;
  margin-inline: auto;
}
.featuresection .featureitem .icon {
  height: 246px;
}
.featuresection .featureitem .title {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 20px;
}
.featuresection .featureitem p {
  font-size: 18px;
  margin-bottom: 0;
}

.integrationcompatibility {
  padding-bottom: 120px;
}
@media (max-width: 575px) {
  .integrationcompatibility {
    padding-bottom: 60px;
  }
}

.sectiontitle {
  font-size: 64px;
  margin-bottom: 30px;
  margin-top: 0;
}
@media (min-width: 1200px) {
  .sectiontitle {
    letter-spacing: -0.3px;
  }
}
@media (max-width: 1199px) {
  .sectiontitle {
    font-size: 48px;
  }
}
@media (max-width: 575px) {
  .sectiontitle {
    font-size: 36px;
  }
}

.integrationcompatibilitywrapper {
  display: flex;
  gap: 40px;
}
@media (max-width: 991px) {
  .integrationcompatibilitywrapper {
    flex-direction: column;
  }
}
.integrationcompatibilitywrapper .leftcontent {
  max-width: 500px;
  width: 100%;
}
@media (max-width: 1199px) {
  .integrationcompatibilitywrapper .leftcontent {
    max-width: 400px;
  }
}
@media (max-width: 991px) {
  .integrationcompatibilitywrapper .leftcontent {
    max-width: 100%;
  }
}
.integrationcompatibilitywrapper .leftcontent p {
  margin-top: 0;
}
.integrationcompatibilitywrapper .pipe {
  background-color: white;
  width: 1px;
}
.integrationcompatibilitywrapper .rightcontent {
  max-width: calc(100% - 580px);
}
@media (max-width: 1199px) {
  .integrationcompatibilitywrapper .rightcontent {
    max-width: calc(100% - 400px);
  }
}
@media (max-width: 991px) {
  .integrationcompatibilitywrapper .rightcontent {
    max-width: 100%;
  }
}
.integrationcompatibilitywrapper .logoswrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 42px;
  margin-top: 45px;
}
@media (max-width: 575px) {
  .integrationcompatibilitywrapper .logoswrapper {
    gap: 20px 15px;
  }
}
.integrationcompatibilitywrapper .logoswrapper img {
  max-width: 70px;
  max-height: 54px;
  -o-object-fit: contain;
  object-fit: contain;
}

.integrationcompatibilitygrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 42px;
}
@media (max-width: 575px) {
  .integrationcompatibilitygrid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.integrationcompatibilityitem .title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
}
.integrationcompatibilityitem p {
  margin: 0;
}
.integrationcompatibilityitem .cmnButton {
  margin-top: 20px;
}

.codesection {
  padding-bottom: 120px;
}
@media (max-width: 575px) {
  .codesection {
    padding-bottom: 60px;
  }
}

.supportsection {
  padding-bottom: 90px;
}
@media (max-width: 991px) {
  .supportsection {
    padding-bottom: 60px;
  }
}

.supportgrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}
@media (max-width: 991px) {
  .supportgrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .supportgrid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.supportitem {
  padding: 24px 24px 34px;
  border-radius: 26px;
  background-color: #313131;
  position: relative;
  display: flex;
  gap: 28px;
}
@media (max-width: 1199px) {
  .supportitem .icon {
    max-width: 42px;
    flex-shrink: 0;
  }
  .supportitem .icon img {
    width: 100%;
  }
}
.supportitem .title {
  margin-top: 0;
  font-size: 34px;
  margin-bottom: 10px;
}
.supportitem p {
  line-height: 2;
}
.supportitem .cmnButton {
  align-self: flex-start;
  font-size: 12px;
  padding-top: 0;
  padding-bottom: 2px;
  padding-inline: 20px;
}
.supportitem::before {
  position: absolute;
  content: "";
  left: -1px;
  top: -1px;
  right: -1px;
  bottom: -1px;
  background: linear-gradient(135deg, #fff 0%, rgba(255, 255, 255, 0.1) 120%);
  z-index: -1;
  border-radius: 26px;
}

.supportitem .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  background-color: #1c1c1c;
  border-top: 1px solid #4d4d4d;
  padding-top: 50px;
  padding-bottom: 40px;
}

.footerwrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 0;
}
@media (max-width: 991px) {
  .footerwrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 575px) {
  .footerwrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

.footerwidget {
  max-width: -moz-fitcontent;
  max-width: fitcontent;
}
.footerwidget:nth-child(2) {
  margin-inline: auto;
}
@media (max-width: 991px) {
  .footerwidget:nth-child(2) {
    margin: 0;
  }
}
.footerwidget:nth-child(3) {
  margin-inline: auto;
}
@media (max-width: 991px) {
  .footerwidget:nth-child(3) {
    margin: 0;
  }
}
.footerwidget .title {
  font-size: 24px;
  margin-top: 0;
}
.footerwidget .footerlinks {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footerwidget .footerlinks li a {
  text-decoration: none;
}

.copyright {
  text-align: center;
  margin-top: 40px;
}

.codeheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  padding: 8px 16px;
  background-color: #262626;
  border-radius: 4px 4px 0 0;
}
.codeheader .title {
  font-weight: 500;
}

.codecontainer {
  display: flex;
  background-color: #343434;
  color: #dcdcdc;
  border-radius: 0 0 4px 4px;
  overflow: auto;
  font-family: "Courier New", monospace;
  font-size: 14px;
  line-height: 1.5;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.codecontainer .linenumbers {
  text-align: right;
  margin-right: 10px;
  color: #888;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding-right: 10px;
  padding-left: 8px;
  border-right: 1px solid #444;
  padding-top: 15px;
}
.codecontainer .linenumbers div {
  line-height: 1.385;
}

.code {
  white-space: pre;
  padding: 10px;
}

.codecontainer .codecontent {
  background-color: transparent;
}

.codecontent .codeline {
  min-height: 19.28px;
}
