.remove-default-components nav.navbar.navbar--fixed-top {
  display: none !important;
}

.remove-default-components .footer.footer--dark {
  display: none !important;
}

.landing-page-container {
  margin: 0;
  padding: 0;
  color: #ffffff;
  background-color: #121212;
  font-family: "Chivo", sans-serif;
  line-height: 1.5;
}

.custom-a a {
  color: inherit;
  display: inline-block;
}

.custom-head h1,
.custom-head h2,
.custom-head h3 {
  line-height: 1.25;
  font-weight: 500;
}

/* .custom-img img {
  vertical-align: middle;
  width: 100%;
} */
