"""
    Groundlight API

    Groundlight makes it simple to understand images. You can easily create computer vision detectors just by describing what you want to know using natural language.  # noqa: E501

    The version of the OpenAPI document: 0.18.2
    Contact: support@groundlight.ai
    Generated by: https://openapi-generator.tech
"""

import re  # noqa: F401
import sys  # noqa: F401

from groundlight_openapi_client.api_client import ApiClient, Endpoint as _Endpoint
from groundlight_openapi_client.model_utils import (  # noqa: F401
    check_allowed_values,
    check_validations,
    date,
    datetime,
    file_type,
    none_type,
    validate_and_convert_types,
)
from groundlight_openapi_client.model.synthetic_image import SyntheticImage


class SyntheticImagesApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client
        self.generate_synthetic_image_endpoint = _Endpoint(
            settings={
                "response_type": (SyntheticImage,),
                "auth": ["ApiToken"],
                "endpoint_path": "/v1/synthetic-images",
                "operation_id": "generate_synthetic_image",
                "http_method": "POST",
                "servers": None,
            },
            params_map={
                "all": [
                    "lens_type",
                    "lens_config",
                    "body",
                ],
                "required": [
                    "lens_type",
                ],
                "nullable": [],
                "enum": [],
                "validation": [],
            },
            root_map={
                "validations": {},
                "allowed_values": {},
                "openapi_types": {
                    "lens_type": (str,),
                    "lens_config": (str,),
                    "body": (file_type,),
                },
                "attribute_map": {
                    "lens_type": "lens_type",
                    "lens_config": "lens_config",
                },
                "location_map": {
                    "lens_type": "query",
                    "lens_config": "query",
                    "body": "body",
                },
                "collection_format_map": {},
            },
            headers_map={"accept": ["application/json"], "content_type": ["image/jpeg", "image/jpg", "image/png"]},
            api_client=api_client,
        )

    def generate_synthetic_image(self, lens_type, **kwargs):
        """generate_synthetic_image  # noqa: E501

         Submit an image for synthetic augmentation and get the edited image back with ground-truth annotations, in one call.  Send the raw image bytes as the entire request body with a `Content-Type` of `image/jpeg` or `image/png`; `lens_type` and `lens_config` go in the query string. The lens selects what kind of event to synthesize.  Top-level `label` is the lens-level binary event label (`YES`/`NO`) for the generated image, and can be forwarded to `POST /v1/labels` alongside `rois` without translation. `rois` lists every detected object, including ones already present in the frame; `added_roi_index` points at the one this request inserted.  Nothing is persisted: the generated image is returned inline and never stored.  Requires `ENABLE_SYNTHETIC_IMAGE_ACCESS` and accepted terms of service.  ```bash curl \"https://api.groundlight.ai/device-api/v1/synthetic-images?lens_type=fence_climbing\" \\     -H \"Content-Type: image/jpeg\" \\     --data-binary @camera_frame.jpg ```   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.generate_synthetic_image(lens_type, async_req=True)
        >>> result = thread.get()

        Args:
            lens_type (str): Which lens to generate the image for, e.g. `fence_climbing`.

        Keyword Args:
            lens_config (str): Lens-specific settings as a base64 url-safe encoded JSON object (up to 1KiB).. [optional]
            body (file_type): [optional]
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            async_req (bool): execute request asynchronously

        Returns:
            SyntheticImage
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs["async_req"] = kwargs.get("async_req", False)
        kwargs["_return_http_data_only"] = kwargs.get("_return_http_data_only", True)
        kwargs["_preload_content"] = kwargs.get("_preload_content", True)
        kwargs["_request_timeout"] = kwargs.get("_request_timeout", None)
        kwargs["_check_input_type"] = kwargs.get("_check_input_type", True)
        kwargs["_check_return_type"] = kwargs.get("_check_return_type", True)
        kwargs["_spec_property_naming"] = kwargs.get("_spec_property_naming", False)
        kwargs["_content_type"] = kwargs.get("_content_type")
        kwargs["_host_index"] = kwargs.get("_host_index")
        kwargs["lens_type"] = lens_type
        return self.generate_synthetic_image_endpoint.call_with_http_info(**kwargs)
