"""
    Groundlight API

    Groundlight makes it simple to understand images. You can easily create computer vision detectors just by describing what you want to know using natural language.  # noqa: E501

    The version of the OpenAPI document: 0.18.2
    Contact: support@groundlight.ai
    Generated by: https://openapi-generator.tech
"""

import re  # noqa: F401
import sys  # noqa: F401

from groundlight_openapi_client.api_client import ApiClient, Endpoint as _Endpoint
from groundlight_openapi_client.model_utils import (  # noqa: F401
    check_allowed_values,
    check_validations,
    date,
    datetime,
    file_type,
    none_type,
    validate_and_convert_types,
)
from groundlight_openapi_client.model.vlm_verification import VlmVerification


class VlmVerificationsApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client
        self.submit_vlm_verification_endpoint = _Endpoint(
            settings={
                "response_type": (VlmVerification,),
                "auth": ["ApiToken"],
                "endpoint_path": "/v1/vlm-verifications",
                "operation_id": "submit_vlm_verification",
                "http_method": "POST",
                "servers": None,
            },
            params_map={
                "all": [
                    "media",
                    "query",
                    "model_id",
                ],
                "required": [
                    "media",
                    "query",
                ],
                "nullable": [],
                "enum": [],
                "validation": [
                    "media",
                ],
            },
            root_map={
                "validations": {
                    ("media",): {
                        "max_items": 8,
                        "min_items": 1,
                    },
                },
                "allowed_values": {},
                "openapi_types": {
                    "media": ([file_type],),
                    "query": (str,),
                    "model_id": (str,),
                },
                "attribute_map": {
                    "media": "media",
                    "query": "query",
                    "model_id": "model_id",
                },
                "location_map": {
                    "media": "form",
                    "query": "form",
                    "model_id": "form",
                },
                "collection_format_map": {
                    "media": "csv",
                },
            },
            headers_map={"accept": ["application/json"], "content_type": ["multipart/form-data"]},
            api_client=api_client,
        )

    def submit_vlm_verification(self, media, query, **kwargs):
        """submit_vlm_verification  # noqa: E501

         Submit one or more images for VLM-based alert verification.  Send everything as `multipart/form-data`: one to eight `media` parts, plus a `query` field and an optional `model_id` field.  The `query` describes what each image is and what to look for — the server makes no assumptions about the images' meaning. Images are presented to the model labeled `Image 1`, `Image 2`, ... in upload order, so the query can reference them (e.g. \"Image 1 is the full frame; image 2 is the cropped ROI ...\").  (Video parts are planned but not yet supported and are rejected.)  Requires `ENABLE_BEDROCK_VLM_ACCESS` (enabled for Standard_Internal and SciDuck accounts) and accepted terms of service.  ```bash curl https://api.groundlight.ai/device-api/v1/vlm-verifications \\     -F \"media=@full_frame.jpg;type=image/jpeg\" \\     -F \"media=@roi.jpg;type=image/jpeg\" \\     -F \"query=Image 1 is the full camera frame; image 2 is the cropped region a detector flagged. Is there really a fire?\" \\     -F \"model_id=gpt-5.4\" ```   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.submit_vlm_verification(media, query, async_req=True)
        >>> result = thread.get()

        Args:
            media ([file_type]): One or more images (common formats: JPEG, PNG, WEBP). Video is not yet supported.
            query (str): Natural-language prompt describing the media and what to verify.

        Keyword Args:
            model_id (str): Friendly model alias (e.g. 'gpt-5.4', 'claude-sonnet-4.5'). Defaults to the server default.. [optional]
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            async_req (bool): execute request asynchronously

        Returns:
            VlmVerification
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs["async_req"] = kwargs.get("async_req", False)
        kwargs["_return_http_data_only"] = kwargs.get("_return_http_data_only", True)
        kwargs["_preload_content"] = kwargs.get("_preload_content", True)
        kwargs["_request_timeout"] = kwargs.get("_request_timeout", None)
        kwargs["_check_input_type"] = kwargs.get("_check_input_type", True)
        kwargs["_check_return_type"] = kwargs.get("_check_return_type", True)
        kwargs["_spec_property_naming"] = kwargs.get("_spec_property_naming", False)
        kwargs["_content_type"] = kwargs.get("_content_type")
        kwargs["_host_index"] = kwargs.get("_host_index")
        kwargs["media"] = media
        kwargs["query"] = query
        return self.submit_vlm_verification_endpoint.call_with_http_info(**kwargs)
